.customize-widgets-header-toolbar {
	display: flex;
	border: none;
	align-items: center;
	margin: -4px 0;

	.customize-widgets-header-toolbar__inserter-toggle.components-button.has-icon {
		border-radius: 2px;
		color: $white;
		padding: 0;
		min-width: $grid-unit-30;
		height: $grid-unit-30;
		margin-left: auto;

		&::before {
			content: none;
		}

		&.is-pressed {
			background: $gray-900;
		}
	}

	.components-button.has-icon.customize-widgets-editor-history-button {
		padding: 0;
		width: 32px;
		height: 32px;
		min-width: 32px;

		&::before {
			left: 0;
			right: 0;
		}
	}
}
